<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499615703222-ht70vgvipura2ovhnlhnsqh33jmcc0lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499615703222-ht70vgvipura2ovhnlhnsqh33jmcc0lf</string>
	<key>API_KEY</key>
	<string>AIzaSyB5fdcQOxWAuhBz9a-thqQuhklpFklynGk</string>
	<key>GCM_SENDER_ID</key>
	<string>499615703222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.textchatapp</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-1274a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-1274a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499615703222:ios:65d9ba2bd5faf1f3210617</string>
</dict>
</plist>